body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    BACKGROUND: #F1EAFF;
}

header {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.header-content {
    text-align: left;
}

h1,
h2,
h3 {
    font-weight: bold;
}

.skills,
.projects,
.about {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

.skills {
    background-color: #ffffffa4;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  

.projects {
    display: flex;
    flex-wrap: wrap;
    /* Allow projects to wrap to the next line on smaller screens */
    justify-content: space-between;
    /* Add space between projects */
}

.project {
    flex: 0 0 calc(48% - 10px);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background: #ffffffa4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow here */
  }
  

.project h3 {
    color: #01000e;
}

.project img {
    width: 100%;
    /* Make the image fill the container width */
    max-height: 309px;
    /* Adjust the max-height as needed */
    object-fit: contain;
    border-radius: 5px;
}

.project p {
    color: #555;
}

.buttons {
    margin-top: 10px;
}

.source-code-btn,
.live-project-btn {
    display: inline-block;
    padding: 8px 16px;
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #010103;
    border-radius: 5px;
}

.about {
    background-color: #ffffffa4;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.section-headline {
    color: #3498db;
    /* Color for the section headlines */
}

.skills-list {
    list-style-type: none;
    padding: 0;
}

.skills-list li {
    display: inline-block;
    margin-right: 10px;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    .header-content {
        text-align: center;
    }

    .profile-picture {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .skills,
    .projects,
    .about {
        margin: 10px;
        padding: 15px;
    }

    .skills-list li {
        display: block;
        margin-bottom: 10px;
    }
}

/* Adjust the margin for the h2 element */
.projects h2 {
    margin-bottom: 10px; /* You can adjust the value as needed */
}



/* Add this to the existing CSS code */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    overflow: hidden;
}

.modal img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 5px;
}
